.header {
    display: flex;
    align-items: center;
    gap: 187px;
    margin: 92px 24px 93px 24px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: normal;
    color:  #000;
}

.header__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.header__link-list-item {
    list-style: circle;
}

.header__link-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-img {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    line-height: 135%;
    text-underline-offset: 4px;
}

.address__address {
    font-style: normal;
}

/*COVER*/

.cover {
    width: 100%;
    height: 757px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 50px 50px;
    margin-bottom: 179px;
    background-image: url(/images/cover.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
}

.cover-title {
    margin-bottom: 125px;
    font-size: 100px;
    line-height: 100%;
    font-weight: bold;
    z-index: 1;
}

.aligned-text {
    display: block;
    letter-spacing: 3px;
    line-height: 122px;
}

.aligned-text-center {
    text-align: center;
    transform: translateX(-25px);
}

.aligned-text-right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 38px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.cover-description-text {
    padding-left: 28px;
    font-size: 22px;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background: transparent;
    color:  #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}